.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.App-header a:hover {
  color: aqua;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.nav-header ul {
  display: flex;
  list-style-type: none;
}

.nav-header ul li {
  padding: 0 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}